body {
	font-family: 'Roboto'
}

#main-login {
	background: rgb(18,16,63);
	background: linear-gradient(338deg, rgba(18,16,63,1) 0%, rgba(62,64,176,1) 35%, rgba(54,68,210,1) 100%);
	height: 100vh;
	display: flex;
	justify-content: center
}

#main-login form {
	width: 500px;
	height: 350px;
	background-color: #fff;
	align-items: center;
	align-self: center;
	margin-top: -100px;
	padding: 20px
}

#main-login .logo-container {
	text-align: center
}

#main-login .logo-container img {
	width: 60%;
	margin-top: -100px
}

#main-login .login-inputs {
	margin-top: -100px;
	text-align: center
}

#main-login .login-inputs .input-field {
	margin: 15px
}

#main-login .login-inputs input[type=submit] {
	color: #fff
}

.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
	color: rgba(54,122,210,1)!important
}

.input-field input[type=text]:focus, .input-field input[type=password]:focus, input[type=search] {
	border-bottom: 1px solid rgba(54,122,210,1)!important;
	box-shadow: 0 1px 0 0 rgba(54,122,210,1)!important;
}
/*
.input-field .prefix.active {
	color: rgba(54,122,210,1)
}
*/
/* Pagina */

/* Navbar */
#main-logeado {
	display: none;
	height: 100vh
}

.navbar {
	background-color: rgba(54,122,210,1);
	line-height: 28px
}

.navbar p {
	margin: 0;
	font-size: 24px
}

.nav-fecha {
	float: left;
	margin-left: 15px
}

.user-data {
	float: right;
	display: flex;
	height: 100%;
	align-items: center;
	margin-right: 15px
}

.user-data p {
	margin: 0 5px
}

nav i {
	line-height: 36px!important
}

/* Contenedor */
.contenedor {
	height: calc(100% - 64px);
	display: flex
}

.main-content {
	width: calc(100% - 180px)
}

.page-content {
	-webkit-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.39);
	-moz-box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.39);
	box-shadow: 0px 0px 19px -2px rgba(0,0,0,0.39);
	margin: 10px;
	height: calc(100% - 45px);
	padding: 10px;
	display: none;
	position: relative;
}

.navside {
	background-color: #263238;
	width: 180px
}

.navside p {
	color: #fff;
	font-weight: 300;
	background: rgba(0,0,0,0.2);
	margin: 10px;
	padding: 5px 10px;
	border-radius: 10px
}

.navside ul {
	margin: 3px 0
}

.navside ul li a {
	display: block;
	padding: 8px 20px;
	color: rgba(255,255,255,0.55)
}

.navside ul li a:hover {
	background-color: rgba(255,255,255,0.15);
	color: rgba(255,255,255,0.75)
}

.navside ul li a.link-active {
	background-color: #367ad2;
	color: rgba(255,255,255,0.8)
}

.navside ul li a.link-permanente {
	background-color: rgba(255,255,255,0.15)
}

.progress{
	width: 200px;
	margin-top:-5px;
	position: absolute;
}

.indicadores{
	margin-top: 0px;
	float:left;
	margin-left: 20px;
	padding: 0px;
}

.rankuser{
	margin-left: 180px;
	position: absolute;
	width: 200px;
	float: left;
}
#ranking{
	width: 200px;
	position:relative;
}

.submenu {
	display: none;
	background-color: rgba(255,255,255,0.05)
}

.submenu li a {
	padding: 4px 25px!important
}

footer {
	position: fixed;
	width: calc(100% - 180px);
	bottom: 0;
	background-color: #eee;
	padding: 5px
}

footer p {
	margin: 0;
	color: #555;
	font-size: 11px
}

.input-field {
	margin: 0
}

.page-content input {
	height: 33px!important;
	border: 1px solid #ccc!important;
	border-radius: 3px!important;
	padding: 0 5px!important
}

.datepicker-date-display {
	background-color: #367ad2
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done, .datepicker-table td.is-today {
	color: #367ad2
}

.datepicker-table td.is-selected {
	background-color: #367ad2;
	color: #fff
}

.dropdown-content li > a, .dropdown-content li > span {
	color: #367ad2
}

.dataTables_wrapper select {
	display: inline;
	margin-left: 5px;
	height: 30px;
	border-color: #bbb;
	margin-top: 6px
}

.dataTables_filter {
	margin-right: 25px;
	position: absolute;
	right: 0;
	top: 5px;
}

.dataTables_length label {
    display: flex;
}

/* Tablas */
#tabla-historial {
	height: calc(100% - 60px)
}

.dataTables_wrapper {
	height: 100%
}

.table-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	border-top: 1px solid #000
}

.buttons-excel {
	background-color: #64dd17;
	border: none;
	color: #fff;
	padding: 10px 25px;
	cursor: pointer;
}

.dataTables_scrollBody {
	border-bottom: 1px solid #fff!important;
}


.activate{
	background-color: rgba(255,255,255,0.15);
	color: rgba(255,255,255,0.75)
}

/*Estilos para modificar los seleccionados en las tablas*/
.pedidoSeleccionado td{
	border-top: solid;
	border-bottom: solid;
}
.pedidoSeleccionado td:first-child{
	border-left: solid;
}
.pedidoSeleccionado td:last-child{
	border-right: solid;
}
.productoSeleccionado td{
	border-top: solid;
	border-bottom: solid;
}
.productoSeleccionado td:first-child{
	border-left: solid;
}
.productoSeleccionado td:last-child{
	border-right: solid;
}


#tabla-pedidos {
	height: calc(90% - 60px)
}

#tabla-pedidos .dataTables_scroll {
	height:100%;
}


#tabla-pedidos .dataTables_scrollBody {
	height: calc(100% - 40px)
}

#tabla-productos-abierto .dataTables_scrollBody {
	height: 80%;
}

#tabla-productos-abierto {
	height: calc(80% - 60px)
}

#tabla-productos-abierto .dataTables_scroll {
	height:100%;
}


#tabla-productos-abierto .dataTables_scrollBody {
	height: 90%
}





#inputConsolaPedidos{
	border:none !important;
}

#inputTarjetaPuntos{
	border:none !important;
}


#inputConsolaPedidos:focus {
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
#inputTarjetaPuntos:focus{
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);	
}



#cantidadDePedidos{
	position: relative;
}





#tabla-productos-abierto .dataTables_wrapper .dataTables_scroll{
	height:100%
}
#infoPedidoAbierto:hover {
	background-color: #eeeeee;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

#modalClienteTraspaso{
	width: 1000px !important;
	height: 800px !important;
	max-height:100% !important
}
#modalClienteTraspaso .dataTables_filter{
	position: relative;
}

#modalAgregarProductos .dataTables_filter{
	position: relative;
}

#tabla-etiquetas {
	height:100% !important;
}
#tabla-etiquetas .dataTables_scrollBody{
	height:100% !important;
}

#tabla-etiquetas .table-footer{
	position: relative;
}
#tabla-etiquetas .dataTables_scroll{
	height:88%
}


#tabla-clientes {
	height: calc(90% - 60px)
}


#tabla-agregar-productos{
	height: 200px;
}

#tabla-agregar-productos .dataTables_scrollBody{
	height: 500px !important; 
}

/*Bonton de impresora*/
.boton-impresora-seleccionado{
	background-color: #ffcc80 !important;
}
.botones-impresora{
	background-color: #fafafa;
}


/*Estilo del modal nuevo producto*/
#crearNuevoProducto{
	position: absolute !important;
	width: 400px !important;
	height: 300px !important;
	left: calc(100% - 450px);
	margin-top: calc(45% - 350px);
}

/*Estilo modal agregar productos*/
#modalAgregarProductos{
	max-height: 100%;
	height: 650px !important;
}
/*Estilo modal pagar */
#modalPagar{
	width: 300px !important; 
	max-width: 300px !important
}
.tipoDePago{
	margin-top: 15px !important;
	background-color: grey;
}
.pagoSeleccionado{
	background-color: green !important;
}
/*Si se seleciona pagar con tarjeta*/
#modalIngresarFolio{
	width: 350px !important;
	height: 200px !important;
}

/*Modificaciones a la seccion de historial VER*/

#modalInfoPedido{
	margin-top: -50px !important;
	width: 80% !important;
	max-width: 80% !important;
	height: 750px !important;
	max-height: 750px !important;
}
#modalInfoPedido .dataTables_scrollBody{
	height: 300px !important;
}


#modalLoaderOnly{
	height: 200px !important;
	max-height: 200px !important;
}