#logo>img{
	display: block;
	margin:auto;
	height: 200px; 
	width: 200px;
}
.log-contenedor{
	margin-top: 15%;
	background-color: #fafafa;
}
button{
	text-transform: capitalize;
}
#formContenedor{
	
}